<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find</h1>
    <br>
    <div id="items"></div>
    <script>
        // catch all items
        var items = "{{ items }}".replaceAll("&#39;","'");
        console.log(items)
        eval("items = "+items)
        console.log(items['caio']['colour'])
        for (let i = 0; i < Object.keys(items).length; i++) {
            document.getElementById("items").innerHTML+= '<p class="item" id="'+Object.keys(items)[i]["name"]+'">'+Object.keys(items)[i]+'<br></p>';
        }
    </script>
</body>
</html>